<?xml version="1.0" encoding="utf-8" ?>
<WebServiceTester>
  <FREQUENCY>5000</FREQUENCY>
  <URLS>
    <URL>
      <NAME>Local Simple HTML</NAME>
      <PATH> http://localhost/river/simple.html</PATH>
      <THRESHOLD>2</THRESHOLD>
      <EMAIL>RIVER.TAIG@GMAIL.COM</EMAIL>
      <CONSECUTIVEFAILCOUNT>0</CONSECUTIVEFAILCOUNT>
      <LASTFAILURE></LASTFAILURE>
      <REASON>-</REASON>
    </URL>
    <URL>
      <NAME>Neils Silverlight Page</NAME>
      <PATH>http://10.167.25.104/arcfmsilverlight</PATH>
      <THRESHOLD>2</THRESHOLD>
      <EMAIL>RIVER.TAIG@GMAIL.COM,RIVER.TAIG@SCHNEIDER-ELECTRIC.COM</EMAIL>
      <CONSECUTIVEFAILCOUNT>0</CONSECUTIVEFAILCOUNT>
      <LASTFAILURE></LASTFAILURE>
      <REASON></REASON>
    </URL>
  </URLS>
</WebServiceTester>