<?xml version="1.0" encoding="utf-8" ?>
<WebServiceTester>
  <FREQUENCY>1</FREQUENCY>
  <URLS>
    <URL>
      <NAME>Local Simple HTML</NAME>
      <PATH> http://localhost/river/simple.html</PATH>
      <THRESHOLD>2</THRESHOLD>
      <EMAIL>RIVER.TAIG@GMAIL.COM</EMAIL>
      <CONSECUTIVEFAILCOUNT>0</CONSECUTIVEFAILCOUNT>
      <LASTFAILURE></LASTFAILURE>
      <REASON>-</REASON>
    </URL>
    <URL>
      <NAME>Huffington Post</NAME>
      <PATH>http://www.huffingtonpost.com</PATH>
      <THRESHOLD>2</THRESHOLD>
      <EMAIL>RIVER.TAIG@GMAIL.COM</EMAIL>
      <CONSECUTIVEFAILCOUNT>0</CONSECUTIVEFAILCOUNT>
      <LASTFAILURE></LASTFAILURE>
      <REASON></REASON>
    </URL>    
  </URLS>
</WebServiceTester>